body {
  margin: 0;
  font-family: "Arial", sans-serif;
}
h1 {
  text-align: center;
}
header {
  background-color: #282c34;
  font-size: 22px;
  padding: 20px;
  color: rgb(211, 246, 255);
}
footer {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  color: cornflowerblue;
}
h3 {
  text-align: center;
}
.caldero {
  font-size: 50px;
  text-align: center;
}
.clic {
  font-size: 35px;
  background-color: rgb(86, 252, 127);
  color: white;
  cursor: pointer;
  padding: 12px 16px;
  border-color: rgb(110, 204, 98);
  border-radius: 5px;
  margin-right: 60px;
}
.restablecer {
  font-size: 35px;
  background-color: rgb(86, 252, 127);
  cursor: pointer;
  color: white;
  padding: 12px 16px;
  border-color: rgb(110, 204, 98);
  border-radius: 5px;
}
@media (max-width: 600px) {
  .App {
    padding: 10px;
  }

  .clic {
    padding: 12px 24px;
    font-size: 1.2rem;
    margin: 8px;
  }
  .restablecer {
    padding: 12px 24px;
    font-size: 1.2rem;
    margin: 8px;
  }
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
